ws_test.py
tst.json
test_btc_addreses.txt
test**
templates/wstest.html
templates/account/.DS_Store
templates/.DS_Store
temp/
slogger.py
promo_sending.py
promo_file.csv
node_modules/
mywill_sign/
mywill_frontend/
lastwill/static_collect/
lastwill/contracts/submodels/common.py.save
lastwill/contracts/serializers.py.save
lastwill-frontend/
jon_new.cs
jon.cs
gunicorn.conf.py
get_secret_key_Dasha.py
emails.csv
db*
celerybeat-schedule
celery_dir/
backup*
api_params.json
.vscode/
.idea/
.env
.docker/
.DS_Store
*/settings_local.py
*/contracts/__pycache__/
*/__pycache__/
*/.DS_Store
*/*/test_addresses.json
*/*/__pycache__/
**static**
**media**
**env/
**__pycache__**
**/migrations/????_**.py
**.sql**