settings_local.py
*/settings_local.py

.env
*/.env
./contracts/*
contracts/*


templates/.DS_Store
templates/account/.DS_Store
.DS_Store
.idea/
**env/
**__pycache__**
*/.DS_Store
*/__pycache__/
*/contracts/__pycache__/
*/*/__pycache__/
lastwill-frontend/
lastwill/static_collect/
mywill_frontend/
mywill_sign/
test**
**/migrations/????_**.py
*/*/test_addresses.json
emails.csv
promo_file.csv
promo_sending.py
backup*
db*
celery_dir/
celerybeat-schedule
gunicorn.conf.py
lastwill/contracts/serializers.py.save
temp/
test_btc_addreses.txt
jon.cs
jon_new.cs
lastwill/contracts/submodels/common.py.save
slogger.py
templates/wstest.html
ws_test.py
node_modules/
api_params.json
get_secret_key_Dasha.py
tst.json
.vscode/
settings_local.py
**media**
**static**
**.sql**

!/contracts/
./contracts
contracts/*
test.py
test_2.py

contracts/
