DOCKER_EXPOSE_PORT=8000
DJANGO_PORT=8000
DJANGO_ALLOWED_HOSTS=127.0.0.1

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=rabbit
RABBITMQ_DEFAULT_VHOST=rabbit
